[submodule "src/MDD4All.SpecIF.DataProvider.Contracts"]
	path = src/MDD4All.SpecIF.DataProvider.Contracts
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.Contracts.git
[submodule "src/SpecIFicator.DefaultPlugin"]
	path = src/SpecIFicator.DefaultPlugin
	url = https://github.com/oalt/SpecIFicator.DefaultPlugin.git
[submodule "src/MDD4All.SpecIF.DataModels"]
	path = src/MDD4All.SpecIF.DataModels
	url = https://github.com/oalt/MDD4All.SpecIF.DataModels.git
[submodule "src/MDD4All.SpecIF.DataProvider.MockupDataStream"]
	path = src/MDD4All.SpecIF.DataProvider.MockupDataStream
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.MockupDataStream.git
[submodule "src/MDD4All.SpecIF.DataProvider.File"]
	path = src/MDD4All.SpecIF.DataProvider.File
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.File.git
[submodule "src/MDD4All.Configuration"]
	path = src/MDD4All.Configuration
	url = https://github.com/oalt/MDD4All.Configuration.git
[submodule "src/MDD4All.SpecIF.DataModels.RightsManagement"]
	path = src/MDD4All.SpecIF.DataModels.RightsManagement
	url = https://github.com/oalt/MDD4All.SpecIF.DataModels.RightsManagement.git
[submodule "src/MDD4All.SpecIF.DataProvider.MongoDB"]
	path = src/MDD4All.SpecIF.DataProvider.MongoDB
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.MongoDB.git
[submodule "src/MDD4All.SpecIF.ViewModels"]
	path = src/MDD4All.SpecIF.ViewModels
	url = https://github.com/oalt/MDD4All.SpecIF.ViewModels.git
[submodule "src/MDD4All.SpecIF.DataModels.Manipulation"]
	path = src/MDD4All.SpecIF.DataModels.Manipulation
	url = https://github.com/oalt/MDD4All.SpecIF.DataModels.Manipulation.git
[submodule "src/MDD4All.SpecIF.DataFactory"]
	path = src/MDD4All.SpecIF.DataFactory
	url = https://github.com/oalt/MDD4All.SpecIF.DataFactory.git
[submodule "src/Summernote"]
	path = src/Summernote
	url = https://github.com/oalt/Summernote.git
[submodule "src/MDD4All.UI.BlazorComponents"]
	path = src/MDD4All.UI.BlazorComponents
	url = https://github.com/oalt/MDD4All.UI.BlazorComponents.git
[submodule "src/MDD4All.MongoDB.DataAccess.Generic"]
	path = src/MDD4All.MongoDB.DataAccess.Generic
	url = https://github.com/oalt/MDD4All.MongoDB.DataAccess.Generic.git
[submodule "src/MDD4All.UI.DataModels"]
	path = src/MDD4All.UI.DataModels
	url = https://github.com/oalt/MDD4All.UI.DataModels.git
[submodule "src/SpecIFicator.Framework"]
	path = src/SpecIFicator.Framework
	url = https://github.com/oalt/SpecIFicator.Framework.git
[submodule "src/SpecIFicator.Apps.BlazorWpf"]
	path = src/SpecIFicator.Apps.BlazorWpf
	url = https://github.com/oalt/SpecIFicator.Apps.BlazorWpf.git
[submodule "src/MDD4All.SpecIF.DataProvider.EA"]
	path = src/MDD4All.SpecIF.DataProvider.EA
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.EA.git
[submodule "src/MDD4All.SpecIF.DataProvider.WebAPI"]
	path = src/MDD4All.SpecIF.DataProvider.WebAPI
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.WebAPI.git
[submodule "src/MDD4All.FileAccess.Contracts"]
	path = src/MDD4All.FileAccess.Contracts
	url = https://github.com/oalt/MDD4All.FileAccess.Contracts.git
[submodule "src/MDD4All.FileAccess.WPF"]
	path = src/MDD4All.FileAccess.WPF
	url = https://github.com/oalt/MDD4All.FileAccess.WPF.git
[submodule "src/MDD4All.SpecIF.Converters"]
	path = src/MDD4All.SpecIF.Converters
	url = https://github.com/oalt/MDD4All.SpecIF.Converters.git
[submodule "src/VisNetwork.Blazor"]
	path = src/VisNetwork.Blazor
	url = https://github.com/oalt/VisNetwork.Blazor.git
[submodule "src/VisNetwork.Blazor.Models"]
	path = src/VisNetwork.Blazor.Models
	url = https://github.com/oalt/VisNetwork.Blazor.Models.git
[submodule "src/SplitJs.Blazor"]
	path = src/SplitJs.Blazor
	url = https://github.com/oalt/SplitJs.Blazor.git
[submodule "src/MDD4All.SpecIF.DataProvider.Base"]
	path = src/MDD4All.SpecIF.DataProvider.Base
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.Base.git
[submodule "src/MDD4All.SpecIF.DataProvider.Integration"]
	path = src/MDD4All.SpecIF.DataProvider.Integration
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.Integration.git
[submodule "src/MDD4All.SpecIF.DataProvider.Jira"]
	path = src/MDD4All.SpecIF.DataProvider.Jira
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.Jira.git
[submodule "src/MDD4All.SpecIF.ServiceDataProvider"]
	path = src/MDD4All.SpecIF.ServiceDataProvider
	url = https://github.com/oalt/MDD4All.SpecIF.ServiceDataProvider.git
[submodule "src/MDD4All.EnterpriseArchitect.SvgGenerator"]
	path = src/MDD4All.EnterpriseArchitect.SvgGenerator
	url = https://github.com/oalt/MDD4All.EnterpriseArchitect.SvgGenerator.git
[submodule "src/MDD4All.SpecIF.Generators.Vocabulary"]
	path = src/MDD4All.SpecIF.Generators.Vocabulary
	url = https://github.com/oalt/MDD4All.SpecIF.Generators.Vocabulary.git
[submodule "src/MDD4All.Excel.DataAccess"]
	path = src/MDD4All.Excel.DataAccess
	url = https://github.com/oalt/MDD4All.Excel.DataAccess.git
[submodule "src/MDD4All.Jira.DataAccess"]
	path = src/MDD4All.Jira.DataAccess
	url = https://github.com/oalt/MDD4All.Jira.DataAccess.git
[submodule "src/MDD4All.Kafka.DataAccess"]
	path = src/MDD4All.Kafka.DataAccess
	url = https://github.com/oalt/MDD4All.Kafka.DataAccess.git
[submodule "src/MDD4All.Jira.DataModels"]
	path = src/MDD4All.Jira.DataModels
	url = https://github.com/oalt/MDD4All.Jira.DataModels.git
[submodule "src/MDD4All.SpecIF.DataModels.DiagramInterchange"]
	path = src/MDD4All.SpecIF.DataModels.DiagramInterchange
	url = https://github.com/oalt/MDD4All.SpecIF.DataModels.DiagramInterchange.git
[submodule "src/MDD4All.SVG.DataModels"]
	path = src/MDD4All.SVG.DataModels
	url = https://github.com/oalt/MDD4All.SVG.DataModels.git
[submodule "src/MDD4All.SpecIF.DataIntegrator.KafkaListener"]
	path = src/MDD4All.SpecIF.DataIntegrator.KafkaListener
	url = https://github.com/oalt/MDD4All.SpecIF.DataIntegrator.KafkaListener.git
[submodule "src/MDD4All.SpecIF.DataIntegrator.Contracts"]
	path = src/MDD4All.SpecIF.DataIntegrator.Contracts
	url = https://github.com/oalt/MDD4All.SpecIF.DataIntegrator.Contracts.git
[submodule "src/MDD4All.SpecIF.DataIntegrator.EA"]
	path = src/MDD4All.SpecIF.DataIntegrator.EA
	url = https://github.com/oalt/MDD4All.SpecIF.DataIntegrator.EA.git
[submodule "src/MDD4All.SpecIF.ViewModels.SpecIfEvent"]
	path = src/MDD4All.SpecIF.ViewModels.SpecIfEvent
	url = https://github.com/oalt/MDD4All.SpecIF.ViewModels.SpecIfEvent.git
[submodule "src/MDD4All.SpecIF.ViewModels.IntegrationService"]
	path = src/MDD4All.SpecIF.ViewModels.IntegrationService
	url = https://github.com/oalt/MDD4All.SpecIF.ViewModels.IntegrationService.git
[submodule "src/MDD4All.SpecIF.Microservice"]
	path = src/MDD4All.SpecIF.Microservice
	url = https://github.com/oalt/MDD4All.SpecIF.Microservice.git
[submodule "src/MDD4All.SpecIF.Microservice.JiraWebhook"]
	path = src/MDD4All.SpecIF.Microservice.JiraWebhook
	url = https://github.com/oalt/MDD4All.SpecIF.Microservice.JiraWebhook.git
[submodule "src/MDD4All.SpecIF.Generators.Terms"]
	path = src/MDD4All.SpecIF.Generators.Terms
	url = https://github.com/oalt/MDD4All.SpecIF.Generators.Terms.git
[submodule "src/MDD4All.SpecIF.DomainModels.Base"]
	path = src/MDD4All.SpecIF.DomainModels.Base
	url = https://github.com/oalt/MDD4All.SpecIF.DomainModels.Base.git
[submodule "src/MDD4All.SpecIF.Generators.DomainModels"]
	path = src/MDD4All.SpecIF.Generators.DomainModels
	url = https://github.com/oalt/MDD4All.SpecIF.Generators.DomainModels.git
[submodule "src/MDD4All.SpecIF.Converters.Jira"]
	path = src/MDD4All.SpecIF.Converters.Jira
	url = https://github.com/oalt/MDD4All.SpecIF.Converters.Jira.git
[submodule "src/MDD4All.SpecIF.Apps.EaPlugin"]
	path = src/MDD4All.SpecIF.Apps.EaPlugin
	url = https://github.com/oalt/MDD4All.SpecIF.Apps.EaPlugin.git
[submodule "src/MDD4All.Configuration.Views"]
	path = src/MDD4All.Configuration.Views
	url = https://github.com/oalt/MDD4All.Configuration.Views.git
[submodule "src/MDD4All.SpecIF.ViewModels.Testing"]
	path = src/MDD4All.SpecIF.ViewModels.Testing
	url = https://github.com/oalt/MDD4All.SpecIF.ViewModels.Testing.git
[submodule "src/MDD4All.EnterpriseArchitect.Manipulations"]
	path = src/MDD4All.EnterpriseArchitect.Manipulations
	url = https://github.com/oalt/MDD4All.EnterpriseArchitect.Manipulations.git
[submodule "src/MDD4All.EnterpriseArchitect.Logging"]
	path = src/MDD4All.EnterpriseArchitect.Logging
	url = https://github.com/oalt/MDD4All.EnterpriseArchitect.Logging.git
[submodule "src/MDD4All.EAFacade.DataModels.Contracts"]
	path = src/MDD4All.EAFacade.DataModels.Contracts
	url = https://github.com/oalt/MDD4All.EAFacade.DataModels.Contracts.git
[submodule "src/MDD4All.EAFacade.DataAccess.Cached"]
	path = src/MDD4All.EAFacade.DataAccess.Cached
	url = https://github.com/oalt/MDD4All.EAFacade.DataAccess.Cached.git
[submodule "src/MDD4All.SpecIF.DataModels.DiagramMetadata"]
	path = src/MDD4All.SpecIF.DataModels.DiagramMetadata
	url = https://github.com/oalt/MDD4All.SpecIF.DataModels.DiagramMetadata.git
[submodule "src/SpecIFicator.DiagramEditorPlugin"]
	path = src/SpecIFicator.DiagramEditorPlugin
	url = https://github.com/specificator/SpecIFicator.DiagramEditorPlugin.git
[submodule "src/MDD4All.Xml.DataAccess"]
	path = src/MDD4All.Xml.DataAccess
	url = https://github.com/oalt/MDD4All.Xml.DataAccess.git
[submodule "src/MDD4All.Text.DataModels"]
	path = src/MDD4All.Text.DataModels
	url = https://github.com/oalt/MDD4All.Text.DataModels.git
[submodule "src/SpecIFicator.Plugins.BlazorComponents"]
	path = src/SpecIFicator.Plugins.BlazorComponents
	url = https://github.com/specificator/SpecIFicator.Plugins.BlazorComponents.git
