[submodule "src/MDD4All.SpecIF.DataProvider.Contracts"]
	path = src/MDD4All.SpecIF.DataProvider.Contracts
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.Contracts.git
[submodule "src/SpecIFicator.DefaultPlugin"]
	path = src/SpecIFicator.DefaultPlugin
	url = https://github.com/oalt/SpecIFicator.DefaultPlugin.git
